.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 600px;
  margin: 0 auto 20px auto;
  
}

.card-header {
  background-color: #518428;
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}

.card-body {
  padding: 20px;
  text-align: center;
}

input.form-control {
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}

.btn-success {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
}

.card-body p{
  font-size: 18px;  
} 
.card-body div {
  font-size: 18px;
}