<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">BMI Calculator</div>
      <div class="card-body">
        <div class="mb-2">
          <label class="form-label">Weight (kg):</label>
          <input type="number" [(ngModel)]="weight" class="form-control" placeholder="70" />
        </div>
        <div class="mb-2">
          <label class="form-label">Height (cm):</label>
          <input type="number" [(ngModel)]="height" class="form-control" placeholder="175" />
        </div>

        <button
          [disabled]="weight==null || height==null || height! <= 0"
          (click)="calc()"
          class="btn btn-success"
        >
          Calculate
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Result</div>
      <div class="card-body">
        {{ result }}
      </div>
    </div>
  </div>
</div>
